In [2]:
import numpy as np
import pandas as pd

# Task 1

In [7]:
# Create a NumPy array of random values
random_values = np.random.randint(0, 100, size=(4,4))

# Create a Pandas DataFrame
df = pd.DataFrame(random_values, columns=('A','B','C','D'))

# Print the DataFrame
print(df)

    A   B   C   D
0  18  99  12  64
1  11  79  80  14
2  29  97  90  48
3  67  14  95  45

# Task 2

In [9]:
df=df.rename(columns={'A': 'Random value 1', 'B': 'Random value 2','C': 'Random value 3','D': 'Random value 4'})
df

   Random value 1  Random value 2  Random value 3  Random value 4
0              18              99              12              64
1              11              79              80              14
2              29              97              90              48
3              67              14              95              45

# Task 3

In [11]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        31.250000       72.250000       69.250000       42.750000
std         24.958299       39.861218       38.672773       20.902552
min         11.000000       14.000000       12.000000       14.000000
25%         16.250000       62.750000       63.000000       37.250000
50%         23.500000       88.000000       85.000000       46.500000
75%         38.500000       97.500000       91.250000       52.000000
max         67.000000       99.000000       95.000000       64.000000

# Task 4

In [12]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [13]:
datatypes=df.dtypes
print(datatypes)

Random value 1    int64
Random value 2    int64
Random value 3    int64
Random value 4    int64
dtype: object

# Task 5

In [17]:
print(df.loc[:,['Random value 2']])
print(df.loc[:,['Random value 3']])

   Random value 2
0              99
1              79
2              97
3              14
   Random value 3
0              12
1              80
2              90
3              95

In [20]:
print(df.iloc[:,[1]])
print(df.iloc[:,[2]])

   Random value 2
0              99
1              79
2              97
3              14
   Random value 3
0              12
1              80
2              90
3              95